<div class="serverrow well" [class.serveroffline]="!serverWithInfo.isAlive">
    <div *ngIf="authService.isLoggedIn" class="pull-right">

        <ul class="list-inline">
            <li *ngIf="serverWithInfo.isAlive">
                <button class="btn btn-info btn-sm" [routerLink]="['/server/rcon', serverWithInfo.id]">
                    <span class="glyphicon glyphicon-console"></span>
                </button>
            </li>
            <li *ngIf="serverWithInfo.isAlive">
                <button class="btn btn-info btn-sm" [routerLink]="['/server/log', serverWithInfo.id]">
                    <span class="glyphicon glyphicon-time"></span>
                </button>
            </li>
            <li>
                <button class="btn btn-info btn-sm" [routerLink]="['/server', serverWithInfo.id]">
                    <span class="glyphicon glyphicon-cog"></span>
                </button>
            </li>
        </ul>
    </div>
    <div class="clearfix"></div>

    <div class="media">
        <div class="pull-left media-object thumbnail">
            <a [routerLink]="['/map', serverWithInfo.id]" target="_blank" *ngIf="serverWithInfo.hasMap">
                <img src="/api/server/map/{{serverWithInfo.id}}?thumb=true" />
            </a>
            <img src="/images/default.png" *ngIf="!serverWithInfo.hasMap" />
        </div>

        <div class="media-body" *ngIf="!serverWithInfo.isAlive">
            <div class="media-header">
                <h3 style="float:left;margin:0;padding:0;">
                    {{serverWithInfo.description}}
                </h3>
            </div>
        </div>

        <div class="media-body" *ngIf="serverWithInfo.isAlive">
            <div class="media-header">
                <h3 style="float:left;margin:0;padding:0;">
                    {{serverWithInfo.description}}
                </h3>

                <h4 style="float:right;margin:0;padding:0;">
                    <!--{{serverWithInfo.domainname}} ({{serverWithInfo.address}})--> @ Port: {{serverWithInfo.mainPort}}
                </h4>

                <div style="clear:both;"></div>
                <p>
                    <i>{{serverWithInfo.motd}}</i>
                </p>
            </div>

            <loading-inline [isShown]="serverWithInfo.isAlive && !serverWithInfo.query && !queryFailed" text="Querying server"></loading-inline>
            <div *ngIf="serverWithInfo.isAlive && serverWithInfo.query">
                <div class="row">
                    <div class="col-md-6">
                        <b>Server software: </b> {{serverWithInfo.query.responseFields["game_id"]}} {{serverWithInfo.query.responseFields["version"]}}
                    </div>
                    <div class="col-md-6">
                        <b>Players: </b> {{serverWithInfo.query.numPlayers}} / {{serverWithInfo.query.maxPlayers}}
                    </div>
                </div>

                <div *ngIf="serverWithInfo.query.players && serverWithInfo.query.players.length">
                    <b>Players online: </b> {{serverWithInfo.query.players | join:", "}}
                </div>
            </div>

            <div *ngIf="serverWithInfo.mods">
                <p>
                    <b>Mods in use: </b>
                    <i ng-repeat="mod in serverWithInfo.modlist">
                        <a class="modlink" href="backend/getmod.php?mod={{mod}}&server={{serverWithInfo.servername}}" target="_blank">{{mod}}</a>
                    </i>
                </p>
            </div>
        </div>
    </div>
</div>