<div *ngIf="!servers" class="loading">
    <img src="/images/spinner.gif" />
</div>

<div *ngIf="authService.isLoggedIn" class="clearfix">
    <button class="btn btn-default pull-right" (click)="addServer($event)">
        New server
    </button>
</div>

<ul *ngIf="servers && servers.length > 0" id="serverlist" class="list-unstyled" style="margin-top:20px;">
    <li *ngFor="let server of servers">
        <server [serverWithInfo]="server"></server>
    </li>
</ul>

<div *ngIf="servers && servers.length == 0" class="text-center">
    <h2>No servers :(</h2>
</div>