<div *ngIf="currentInstance" id="loading">
    <div id="loading-inner">
        <img src="/images/spinner.gif" id="loading-image" />
        <div>
            <span id="loading-text">
                {{currentInstance.message}}
            </span>
        </div>
        <div class="progress" *ngIf="currentInstance.hasProgress">
            <div class="progress-bar"
                 role="progressbar"
                 [attr.aria-valuenow]="currentInstance.progress"
                 [style.width.%]="currentInstance.progress"
                 aria-valuemin="0"
                 aria-valuemax="100">
                <span class="sr-only">
                    {{currentInstance.progress}}%
                </span>
            </div>
        </div>
    </div>
</div>