.git
*/.vscode
*/.vs/

Frontend/node_modules/
OldFrontend

Backend/*/bin/
Backend/*/obj/
Backend/Mineman.Common/bin/
Backend/Mineman.Service/bin/
Backend/Mineman.Service.Tests/bin/
Backend/Mineman.Web/bin/
Backend/Mineman.WorldParsing/bin/
Backend/Mineman.WorldParsing.Tests/bin/
Backend/Mineman.Common/obj/
Backend/Mineman.Service/obj/
Backend/Mineman.Service.Tests/obj/
Backend/Mineman.Web/obj/
Backend/Mineman.WorldParsing/obj/
Backend/Mineman.WorldParsing.Tests/obj/
Backend/Old.Mineman.Web/
Backend/Testfiles/