[Unit]
Description=Minecraft server manager
Requires=docker.service

[Service]
Environment="ASPNETCORE_ENVIRONMENT=Production" "HOME=/opt/mineman"
Type=simple
WorkingDirectory=/opt/mineman
ExecStart=/usr/bin/dotnet /opt/mineman/Mineman.Web.dll

[Install]
WantedBy=multi-user.target