<h2>Rcon console commands</h2>
<hr />

<form (ngSubmit)="sendCommand($event);" #commandForm="ngForm">
    <div class="input-group">
        <input type="text" name="commandbox" class="form-control" [(ngModel)]="command" autofocus autocomplete="off"/>
        <span class="input-group-btn">
            <input type="submit" class="btn btn-primary" value="Send" />
        </span>
      </div>
</form>

<div class="rcon-response-container">
    <ul class="list-unstyled">
        <li *ngFor="let line of responses">
            {{line}}
        </li>
    </ul>
</div>
