<h2 class="pull-left">Mods</h2>
<button class="btn btn-default pull-right" [routerLink]="['/mods/add']">
    New Mod
</button>
<div class="clearfix"></div>
<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Used by x servers
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let mod of mods">
            <td>
                {{mod.displayName}}
            </td>
            <td>
                {{mod.serversUsingMod?.length}}
            </td>
            <td>
                <button class="btn btn-danger pull-right" [disabled]="mod.serversUsingMod?.length" (click)="delete($event, mod)">
                    Delete
                </button>
            </td>
        </tr>
    </tbody>
</table>