<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" [routerLink]="['/']">Mineman</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li *ngIf="authService.isLoggedIn" [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/images']">Images</a>
                </li>
                <li *ngIf="authService.isLoggedIn" [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/worlds']">Worlds</a>
                </li>
                <li *ngIf="authService.isLoggedIn" [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/mods']">Mods</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li *ngIf="!authService.isLoggedIn"><a (click)="doLogin()">Log in</a></li>
                <li *ngIf="authService.isLoggedIn"><a (click)="authService.Logout()">Log out</a></li>
            </ul>
        </div>
    </div>
</nav>

<!--<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/home']">WebApplicationBasic</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Home
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/counter']">
                        <span class='glyphicon glyphicon-education'></span> Counter
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/fetch-data']">
                        <span class='glyphicon glyphicon-th-list'></span> Fetch data
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>-->
